name: Fetch and store market results

on:
  schedule:
    # Every 15 mins from 10:00 to 12:45 UTC (12:00 to 13:45 GMT+1)
    - cron: '0,15,30,45 10-12 * * *'
    # Every 30 mins from 13:00 to 15:30 UTC (14:00 to 16:30 GMT+1)
    - cron: '0,30 13-15 * * *'
  workflow_dispatch:

jobs:
  test:
    name: Store daily market results
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node.js 20
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build
      - name: Fetch market results
        working-directory: cli
        run: xvfb-run --auto-servernum --server-args='-screen 0 1024x768x24' node add-tomorrow.mjs
      - name: Configure Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
      - name: Commit Changes
        run: |
          git add data
          if ! git diff --cached --exit-code; then
            git commit -m "Daily market results $(date +'%Y-%m-%d')"
          else
            echo "No changes to commit"
          fi
      - name: Push Changes
        run: |
          git push
